body
{
    background-color: rgb(70, 60, 60)!important;
}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-nav li
{
    padding: 0 10px
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    /* changes color of text when hovering over */
    color: #077bff!important;
}
.navbar
{
    background: rgb(118, 111, 196)!important;
}
.navbar-toggler
{
    border: none!important;
}
.navbar-brand
{
    color: rgb(206, 206, 206)!important;
    font-weight: 900;
    
}
.nav-link
{
    color: rgb(58, 54, 54)!important;
    font-weight: 900;
    font-size: 16px;
}

/* Jumbotron Section */

/* Projects section */



/* Privacy Ninja Section */

#pninja
{
    padding-top: 20px;
    padding-bottom:20px;
    color: rgb(206, 206, 206)!important;

}

.pninja-content
{
    padding-top: 10px;
}

.responsive
{
    max-width: 100%;
}

.pninja-link
{
    color: rgb(206, 206, 206)!important;
    font-weight: 900;
    font-size: 24px;
}

/* Weather Background Section */

#wback
{
    padding-top: 20px;
    padding-bottom:20px;
    color: rgb(206, 206, 206)!important;

}

.wback-content
{
    padding-top: 10px;
}

.responsive
{
    max-width: 100%;
}

.wback-link
{
    color: rgb(206, 206, 206)!important;
    font-weight: 900;
    font-size: 24px;
}
