/* Jumbotron Section */

.jumbotron
{
    color: rgb(206, 206, 206)!important;
    text-align: center;
    background-image: url("IMG1.jpg");
    background-position: center;
    background-size: cover;
    height: 540px;
}

.jumbotron h1
{
    margin-top: 50px;
    margin-bottom: 90px;
    font-weight: 600;
}

.jumbotron p
{
    font-weight: 500;
}

/* About Section */

#about
{
    padding-top: 50px;
    padding-bottom:50px;
    color: rgb(206, 206, 206)!important;

}

.about-content
{
    padding-top: 20px;
}

.responsive
{
    max-width: 100%;
}