/* Jumbotron Section */

.jumbotron
{
    color: white!important;
    text-align: center;
    background-image: url("IMAGE1.png");
    background-position: center;
    background-size: cover;
    height: auto;
}

.jumbotron h1
{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 12vw;
    font-weight: 200;
}

.jumbotron p
{
    font-weight: 500;
}


/* About Section */

#about
{
    padding-top: 50px;
    padding-bottom:50px;
    color: rgb(206, 206, 206)!important;

}

.about-content
{
    padding-top: 20px;
}

.responsive
{
    max-width: 100%;
}
